name: CI

on:
  push:
    branches:
      - main
    paths-ignore:
      - 'README.md'
      - 'README.md.tmpl'
      - '.github/**'
      - 'examples/**'
      - 'Makefile'
  pull_request:
    branches:
      - main

permissions:
  contents: read

jobs:
  lint:
    name: Run linting checks
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
            fetch-depth: 0

      - name: Set up Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version: '1.24'

      - name: Run go vet
        run: make vet

      - name: Run linting
        run: make lint

      - name: Run tests
        run: make test